body {
				margin: 0px;
				overflow: hidden;
				
                margin: 0 0 0 0;
			};
		
  @font-face {
  font-family: rusja01;
  src: url('http://mihail292.github.io/3681.ttf');
}
 .pods{
    position: absolute;
    
    
    width: 100%;
    height: 50%;
    background-image: url('/17.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 640px;
    max-width: 1000px;
    margin: auto;
    max-height: 1000px;
    top:0%;
   
  }
  .telo{
  	position: absolute;
    
  	
  	width: 100%;
    height: 50%;
  	background-image: url('/17.png');
  	background-size: cover;
    background-repeat: no-repeat;
  	min-width: 640px;
    min-height: 640px;
    top:0%;
   
  }
   .zamech{
    position: absolute;

    font-size: 60px;
    overflow: hidden;
    text-align: center;
    font-family: rusja01;
    width: 100%;
    height: 0%;
    background-image: url('/17.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 640px;
    max-width: 1000px;
    margin: auto;
    max-height: 160px;
    top:0%;
   
  }
  
  .textField{
  	font-family: rusja01;
  	margin: 20% 0 0 25%;
  	padding: 0px;
  	resize: none;
  	height: 55%;
  	width: 50%;
    font-size: 77px;
  	overflow: hidden;
  	background-color: transparent;
  	border: none;
	  outline: none;
  }

  .nadpis{
    position: absolute;
    
    width: 100%;
    font-size: 60px;
    overflow: hidden;
    text-align: center;
    font-family: rusja01;
  }
